server:
  port: 8889
  error:
    include-message: always

spring:
  application:
    name: gateway-service
  main:
    web-application-type: reactive

  cloud:
    gateway:
      # Cấu hình CORS
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"

      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        # --- 1. STUDENT SERVICE ---
        - id: student-service
          uri: lb://student-service
          predicates:
            - Path=/api/sinhvien/**
          # filters:
          #   - AuthFilter

        # --- 2. ROOM SERVICE (ĐÃ SỬA LỖI Ở ĐÂY) ---
        - id: room-service
          uri: lb://room-service
          predicates:
            - Path=/api/phong/** # Kết thúc dòng tại đây
#          filters:                 # filters phải nằm dòng mới, ngang hàng với predicates
#            - AuthFilter

        # --- 3. CONTRACT SERVICE ---
        # Lưu ý: uri lb://... phải trùng với spring.application.name trong file yml của service đó
        - id: rentroom-service
          uri: lb://rentroom-service
          predicates:
            - Path=/api/hopdong/**
#          filters:
#            - AuthFilter
eureka:
  client:
    register-with-eureka: true
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true